/* OMG FONT */
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Sevillana&display=swap');

/* BODY */
body {
    background-color: rgb(22, 22, 29);
}

/* CONTAINER */
#container {
    width: 608px;
    height: 788px;
    border-radius: 8px;
    background-image: linear-gradient(to top, #750000, #a652be) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container {
    margin: auto;
    width: 600px;
    height: 780px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.65);
}

/* PROFILE PICTURE AND BANNER PLUS STATUS */
.pfp {
    background-image: url("./components/assets/pfp.jpg");
    background-size: contain;
    top: 138px;
    left: 30px;
    border: solid 10px #35142F;
    position: absolute;
}

.banner {
    width: 100%;
    height: 210px;
    background-image: url("./components/assets/banner.jpg");
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.status {
    margin: 218px 0 0 115px;
    height: 27px;
    width: 27px;
    background-color: maroon;
    border-radius: 50%;
    position: absolute;
    border: solid 8px rgb(46, 19, 36);
}

/* TEXT */
.text {
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    opacity: 0.8;
    color: white;
    position: absolute;
    top: 275px;
    left: 30px;
}

.subtext {
    font-weight: 200;
    opacity: 0.9;
    text-transform: lowercase;
    font-size: 12px;
    position: absolute;
    top: 320px;
    left: 30px;
}

/* INNER CONTAINER */
.inner {
    margin: auto;
    margin-top: 24%;
    height: 53%;
    width: 95%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.432);
    overflow: auto;
}

.header-inner {
    font-family: "Parkinsans", sans-serif;
    font-weight: 100;
    margin: 5px 0 0 10px;
    color: white;
}

hr {
    width: 95%;
    opacity: 0.2;
}

.inner-text {
    font-family: "Parkinsans", sans-serif;
    opacity: 0.8;
    font-size: 15px;
}

::-webkit-scrollbar {
    display: none;
}